In [ ]:
# Step - 1 ( Importing libraries )
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# step -2 ( Data Loading )
data = pd.read_csv("purchase_data.csv")
# Dataset link - https://drive.google.com/file/d/1jgGIOQ9YuMf7Oq8DI8i0_GbL-_-MQtDo/view?usp=sharing
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263010,1004473,P00041942,M,36-45,1.0,B,3,0.0,5.0,18.0,NaN,3722.0
263011,1004473,P00115142,M,36-45,1.0,B,3,0.0,1.0,8.0,17.0,19253.0
263012,1004473,P00188442,M,36-45,1.0,B,3,0.0,5.0,7.0,NaN,3608.0
263013,1004473,P00119442,M,36-45,1.0,B,3,0.0,5.0,NaN,NaN,3604.0
263014,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# step 3 ( EDA - Exploratory Data Analysis )
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263015 entries, 0 to 263014
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     263015 non-null  int64
 1   Product_ID                  263014 non-null  object
 2   Gender                      263014 non-null  object
 3   Age                         263014 non-null  object
 4   Occupation                  263014 non-null  float64
 5   City_Category               263014 non-null  object
 6   Stay_In_Current_City_Years  263014 non-null  object
 7   Marital_Status              263014 non-null  float64
 8   Product_Category_1          263014 non-null  float64
 9   Product_Category_2          181501 non-null  float64
 10  Product_Category_3          80582 non-null   float64
 11  Purchase                    263014 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 24.1+ MB

In [ ]:
data["Stay_In_Current_City_Years"].unique()

array(['2', '4+', '3', '1', '0', nan], dtype=object)

In [ ]:
# Stay_In_Current_City_Years in this values are like 4+ year so we will replace 4+ with 4
data["Stay_In_Current_City_Years"]= data["Stay_In_Current_City_Years"].replace("4+",4)

# Change the datatype to numeric
data["Stay_In_Current_City_Years"]=pd.to_numeric(data["Stay_In_Current_City_Years"])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263015 entries, 0 to 263014
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     263015 non-null  int64
 1   Product_ID                  263014 non-null  object
 2   Gender                      263014 non-null  object
 3   Age                         263014 non-null  object
 4   Occupation                  263014 non-null  float64
 5   City_Category               263014 non-null  object
 6   Stay_In_Current_City_Years  263014 non-null  float64
 7   Marital_Status              263014 non-null  float64
 8   Product_Category_1          263014 non-null  float64
 9   Product_Category_2          181501 non-null  float64
 10  Product_Category_3          80582 non-null   float64
 11  Purchase                    263014 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 24.1+ MB

In [ ]:
data.isnull().sum()  # Check for null values

User_ID                            0
Product_ID                         1
Gender                             1
Age                                1
Occupation                         1
City_Category                      1
Stay_In_Current_City_Years         1
Marital_Status                     1
Product_Category_1                 1
Product_Category_2             81514
Product_Category_3            182433
Purchase                           1
dtype: int64

In [ ]:
# Replace the nan values in Product_Category_2 and Product_Category_3 by 0 as everytime the person is not going to purchase from ll 3 product category
data['Product_Category_2'].fillna(0 , inplace=True)
data['Product_Category_3'].fillna(0 , inplace=True)

<ipython-input-63-e63214eda665>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Product_Category_2'].fillna(0 , inplace=True)
<ipython-input-63-e63214eda665>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Product_Category_3'].fillna(0 , inplace=True)

In [ ]:
data.isnull().sum()

User_ID                       0
Product_ID                    1
Gender                        1
Age                           1
Occupation                    1
City_Category                 1
Stay_In_Current_City_Years    1
Marital_Status                1
Product_Category_1            1
Product_Category_2            0
Product_Category_3            0
Purchase                      1
dtype: int64

In [ ]:
# Drop the remaining 1-1 null values from remaining columns
data.dropna(inplace=True)

In [ ]:
data.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [ ]:
# Data right now
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2.0,0.0,3.0,0.0,0.0,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2.0,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2.0,0.0,12.0,0.0,0.0,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2.0,0.0,12.0,14.0,0.0,1057.0
4,1000002,P00285442,M,55+,16.0,C,4.0,0.0,8.0,0.0,0.0,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263009,1004473,P00296542,M,36-45,1.0,B,3.0,0.0,8.0,0.0,0.0,8061.0
263010,1004473,P00041942,M,36-45,1.0,B,3.0,0.0,5.0,18.0,0.0,3722.0
263011,1004473,P00115142,M,36-45,1.0,B,3.0,0.0,1.0,8.0,17.0,19253.0
263012,1004473,P00188442,M,36-45,1.0,B,3.0,0.0,5.0,7.0,0.0,3608.0
263013,1004473,P00119442,M,36-45,1.0,B,3.0,0.0,5.0,0.0,0.0,3604.0

In [ ]:
data["Age"].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Label Encoding

**To convert categorical values to numerical values**

In [ ]:
data["Product_ID"]=le.fit_transform(data["Product_ID"])
data["Gender"]=le.fit_transform(data["Gender"])
data["Age"]=le.fit_transform(data["Age"])
data["City_Category"]=le.fit_transform(data["City_Category"])

In [ ]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,647,0,0,10.0,0,2.0,0.0,3.0,0.0,0.0,8370.0
1,1000001,2304,0,0,10.0,0,2.0,0.0,1.0,6.0,14.0,15200.0
2,1000001,814,0,0,10.0,0,2.0,0.0,12.0,0.0,0.0,1422.0
3,1000001,790,0,0,10.0,0,2.0,0.0,12.0,14.0,0.0,1057.0
4,1000002,2657,1,6,16.0,2,4.0,0.0,8.0,0.0,0.0,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263009,1004473,2762,1,3,1.0,1,3.0,0.0,8.0,0.0,0.0,8061.0
263010,1004473,403,1,3,1.0,1,3.0,0.0,5.0,18.0,0.0,3722.0
263011,1004473,1015,1,3,1.0,1,3.0,0.0,1.0,8.0,17.0,19253.0
263012,1004473,1717,1,3,1.0,1,3.0,0.0,5.0,7.0,0.0,3608.0
263013,1004473,1058,1,3,1.0,1,3.0,0.0,5.0,0.0,0.0,3604.0

In [ ]:
# Label encoding will assign the no from 0 By using alphabetical order
'''
A =0
B =1
C =2
D =3
'''

'\nA =0\nB =1\nC =2\nD =3\n'

# Questions

# Statistic Analysis

1) Preparing sample

2) Creating two hypothesis ( null hypothesis , Alternate hypothesis )

3) Applying the appropriate test ( based on requirement or case )

4) Compare the p_value

if **p_value is > 0.05** = Fail to reject the null hypothesis ( Accept null hypothesis )

if **p_value is < 0.05** = Reject the null hypothesis ( Accept the alternate hypothesis )

In [ ]:
# Question -1

# 1) It was observed that the average purchase made by Men of age group 18-25 was 10,000 , Is it still the same ?

**A one-sample t-test** is a statistical test used to determine whether the mean of a single sample is significantly different from a known or hypothesized population mean.

It helps in testing hypotheses about the average value of a dataset.

**Types of t-tests:**

**One-sample t-test**: Compares the sample mean to a known value (population mean).

**Independent two-sample t-test**: Compares the means of two independent groups.

**Paired sample t-test**: Compares means from the same group at different times (e.g., before and after treatment).

Key Concepts:

Null Hypothesis (H₀): The sample mean is equal to the population mean.

Alternative Hypothesis (H₁): The sample mean is different (greater or less) than the population mean.

In [ ]:
# Hint = Age group "18-25" is encoded to values 1 and Male Gender was encoded to 1

# Find p value then check for Null and Alternate hypothesis
new_data =data[(data["Age"]==1) & (data["Gender"]==1)]
new_data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
97,1000021,2024,1,1,16.0,1,0.0,0.0,3.0,12.0,0.0,3055.0
98,1000022,3261,1,1,15.0,0,4.0,0.0,1.0,8.0,17.0,12099.0
99,1000022,1954,1,1,15.0,0,4.0,0.0,5.0,8.0,0.0,8797.0
100,1000022,1792,1,1,15.0,0,4.0,0.0,3.0,4.0,0.0,10681.0
101,1000022,1020,1,1,15.0,0,4.0,0.0,8.0,14.0,0.0,7801.0
...,...,...,...,...,...,...,...,...,...,...,...,...
262767,1004446,1311,1,1,18.0,1,1.0,1.0,1.0,2.0,0.0,15431.0
262951,1004465,2880,1,1,4.0,0,1.0,1.0,5.0,0.0,0.0,1763.0
262952,1004465,1296,1,1,4.0,0,1.0,1.0,2.0,3.0,4.0,3240.0
262953,1004465,2733,1,1,4.0,0,1.0,1.0,8.0,0.0,0.0,5832.0
262954,1004465,1424,1,1,4.0,0,1.0,1.0,8.0,0.0,0.0,7788.0

In [ ]:
# step -1 collect sample from population
sample = new_data.sample(3600, random_state=5)  # collect 3600 sample data randomly from new_data ( population dtaa)
sample

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
139338,1003536,1301,1,1,4.0,2,0.0,0.0,1.0,15.0,16.0,11545.0
207997,1002023,1734,1,1,4.0,1,2.0,1.0,3.0,4.0,5.0,13317.0
93718,1002446,982,1,1,7.0,1,0.0,0.0,8.0,0.0,0.0,7891.0
59016,1003112,2192,1,1,12.0,0,3.0,0.0,1.0,15.0,16.0,15666.0
2745,1000438,2953,1,1,11.0,0,3.0,0.0,2.0,0.0,0.0,13129.0
...,...,...,...,...,...,...,...,...,...,...,...,...
202064,1001186,3054,1,1,19.0,0,1.0,1.0,5.0,0.0,0.0,5471.0
219749,1003871,995,1,1,4.0,2,4.0,0.0,1.0,5.0,12.0,15535.0
149953,1005137,210,1,1,18.0,2,4.0,0.0,5.0,0.0,0.0,8828.0
230610,1005565,690,1,1,17.0,2,2.0,0.0,1.0,15.0,17.0,19338.0
9400,1001447,1653,1,1,4.0,0,0.0,0.0,11.0,0.0,0.0,4667.0

In [ ]:
# step -3 Write your Null and Alternate hypothese

# Null hypothesis = Average purchase is 10,000
# Alternate hypothesis = Average purchase is not 10,000

In [ ]:
# step 4 Use test
from scipy.stats import ttest_1samp
a_mean=10000  # Population mean

t_stat , p_value = ttest_1samp(sample["Purchase"],a_mean)
print(t_stat , p_value)

'''
if p_value is > 0.05 = Fail to reject the null hypothesis ( Accept null hypothesis )
if p_value is < 0.05 = Reject the null hypothesis ( Accept the alternate hypothesis )

# Null hypothesis = Average purchase is 10,000
# Alternate hypothesis = Average purchase is not 10,000
'''

-6.396199324261645 1.7977812377777705e-10

**The p-value** tells you the probability of observing the sample data, or something more extreme, assuming the null hypothesis is true.

It helps in making a decision about the null hypothesis.

**t-statistic (t_stat):**

The t-statistic is a measure of how much the sample mean deviates from the population mean, expressed in terms of the standard error. It helps in determining whether the difference between the sample mean and the hypothesized population mean is significant.

**A larger t-statistic** (positive or negative) indicates a greater deviation from the population mean.

**A small t-statistic** indicates that the sample mean is close to the population mean

In [ ]:
value = 1.7977812377777705e-10
print(f"{value:.25f}")  # Print he actual p value to compare it with 0.05 to decide between alternate and null hypothessi

0.0000000001797781237777771

As our p_value is less than 0.05 so **we are rejecting the null hypothesis** and **accepting the alternate hypothesis**

**Average purchase is not equal to 10,000**

# 2) It was observed that the percentage of women that spend more than 10,000 was 35% , is it still the same ?

You will use a **one-sample z-tes**t for proportions to compare the observed proportion of women spending more than 10,000 with the hypothesized proportion of 35%.

**Why Use a One-Sample Z-Test for Proportions?**

A z-test for proportions is used when you want to compare an observed sample proportion to a known or hypothesized population proportion.

In [ ]:
# Null hypothesis = Proportions is 35%
# Alternate hypothesis =  Proportions is not 35%

In [ ]:
data_new = data[(data["Purchase"]>10000)]  # Data of all people who are spending more than 10,000
data_new

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,2304,0,0,10.0,0,2.0,0.0,1.0,6.0,14.0,15200.0
5,1000003,1768,1,2,15.0,0,3.0,0.0,1.0,2.0,0.0,15227.0
6,1000004,1684,1,4,7.0,1,2.0,1.0,1.0,8.0,17.0,19215.0
7,1000004,3213,1,4,7.0,1,2.0,1.0,1.0,15.0,0.0,15854.0
8,1000004,3481,1,4,7.0,1,2.0,1.0,1.0,16.0,0.0,15686.0
...,...,...,...,...,...,...,...,...,...,...,...,...
262997,1004472,2433,0,4,16.0,1,0.0,1.0,1.0,11.0,16.0,15175.0
263001,1004472,1921,0,4,16.0,1,0.0,1.0,1.0,11.0,15.0,15430.0
263002,1004472,1665,0,4,16.0,1,0.0,1.0,15.0,16.0,0.0,12567.0
263003,1004472,3209,0,4,16.0,1,0.0,1.0,1.0,2.0,15.0,15387.0
263011,1004473,1015,1,3,1.0,1,3.0,0.0,1.0,8.0,17.0,19253.0

In [ ]:
data_new["Gender"].value_counts()  # HERE 1 means Men AND 0 means Women

Gender
1    72372
0    18685
Name: count, dtype: int64

In [ ]:
# Lets do it directly to find wether the women is 35% or not of total people who spend more than 10,000
(18685/91057)*100

20.52011377488826

In [ ]:
# No of women in the sample as i need to find for women only
count = data_new["Gender"].value_counts()[0]
count

np.int64(18685)

In [ ]:
# No of observation
nobs = len(data_new["Gender"])
nobs

91057

In [ ]:
# Hypothesied value
p0 = 0.35

In [ ]:
# One sample z test
from statsmodels.stats.proportion import proportions_ztest

z_stat , p_value = proportions_ztest( count=count   ,  nobs=nobs    ,  value=p0)
print(z_stat , p_value)

-108.19403500300525 0.0

In [ ]:
'''
Null hypothesis = Proportions is 35%
Alternate hypothesis =  Proportions is not 35%

if p_value is > 0.05 = Fail to reject the null hypothesis ( Accept null hypothesis )
if p_value is < 0.05 = Reject the null hypothesis ( Accept the alternate hypothesis )
'''

**The proportion of women in our data who is spending more than 10,000 is not 35%**

# 3) Is the percentage of men who have spent more than 10000 the same for the ages 18-25 and 26-35?

In [ ]:
# Hint -
'''To determine if the percentage of men who spent more than 10,000 is the same for the age groups 18-25
 and 26-35, we can perform an inferential statistical test, specifically a **two-proportion z-test.**
 This test will help us check if the difference in proportions of men with purchases over 10,000 in the two age groups is statistically
 significant '''

# 4) Is the average purchase made by men and women of the age 18-25 same

In [ ]:
# Hint -
'''
we can perform an independent two-sample t-test
'''